/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* UTILITIES */

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow-xl {
  text-shadow: 
    1px 1px 0 #000,  
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000;
}


.scroll-container {
  overflow: hidden;
  white-space: nowrap;
}

.RightToLeft {
  display: flex;
  animation: RightToLeft 20s linear infinite;
}

@keyframes RightToLeft {
  from { transform: translateX(0); }
  to { transform: translateX(20%); }
}




